{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
<h3>Lista de Estados registrados</h3>

<a href="{% url 'cadastrar-estado' %}" class="btn btn-primary btn-sm">Adicionar Estado</a>

<hr>
<div class="table-responsive">
    <table class="table table-striped" id="tabela-estado">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome Estado</th>
                <th>Sigla</th>
                <th>Opções</th>
            </tr>
        </thead>

        <tbody>
            {% for estado in object_list %}
            <tr>
                <td>{{ estado.pk }}</td>
                <td>{{ estado.nomeestado }}</td>
                <td>{{ estado.sigla }}</td>
                <td>
                    <a href="{% url 'editar-estado' estado.pk %}" class="btn btn-warning btn-sm" title="Editar">E</a>
                    <a href="{% url 'excluir-estado' estado.pk %}" class="btn btn-danger btn-sm" title="Excluir">X</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhum estado foi cadastrado</td>
            </tr>
            {% endfor %}
        </tbody>


    </table>
</div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function () {

        $("#tabela-estado").DataTable();


    });



</script>
{% endblock %}