{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
<h3>Lista de Produtos registrados</h3>

<a href="{% url 'cadastrar-produto' %}" class="btn btn-primary btn-sm">Adicionar Produto</a>

<hr>
<div class="table-responsive">
    <table class="table table-striped" id="tabela-produto">
        
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome Produto</th>
                <th>Marca</th>
                <th>Preço</th>
                <th>Fornecedor</th>
                <th>Opções</th>
            </tr>
        </thead>
        
        <tbody>
            {% for produtos in object_list %}
            <tr>
                <td>{{ produtos.pk }}</td>
                <td>{{ produtos.nomeproduto }}</td>
                <td>{{ produtos.marca }}</td>
                <td>{{ produtos.preco }}</td>
                <td>{{ produtos.fornecedor.nomefornecedor }}</td>
                <td>
                    <a href="{% url 'editar-produto' produtos.pk %}" class="btn btn-warning btn-sm" title="Editar">E</a>
                    <a href="{% url 'excluir-produto' produtos.pk %}" class="btn btn-danger btn-sm" title="Excluir">X</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhum produto foi cadastrado</td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>

    $(documetn).ready(function(){

        $("#tabela-produto").DataTable();

    });

    

</script>
{% endblock %}